<ion-header>
  <ion-toolbar>
    <ion-title>lugares</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="gotoHome()">
          <ion-icon name="globe"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>HOLAAAA!!!!!!</h1>
  <ion-list><!--Lista de elementos añade un scroll si se desborda también-->
    <!--
    <div *ngFor="let place of places">Se recorre la lista places  
      {{place.title}}
    </div>-->

    <ion-item *ngFor="let place of places" [routerLink]="['/lugares', place.id]"><!--Elemento unico-->
      <!--RouterLink redirecciona cuando se pulsa a un elemento, si le añadimos un elemento lo envia-->
      <ion-avatar slot="start"><!--Crea un contenedor para no interferir con el texto-->
        <ion-img [src]="place.imagenURL"></ion-img>
      </ion-avatar>
      <ion-label>
        {{place.title}}
      </ion-label>
      
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"><!--es el encargado de posicionarlo-->
    <ion-fab-button color="danger" (click)="addNuevoLugar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
