<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lugares"></ion-back-button><!---->
    </ion-buttons>
    <ion-title>{{place.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="deletePlace()">
        <ion-icon name="trash"></ion-icon>
      </ion-button><!---->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="io-no-padding">
    <!--Con esta clase quita el paddingf
  -->
    <!--Es una regilla para colocar elementos-->
    <ion-row><!--Fila-->
      <ion-col>
        <ion-img [src]="place.imagenURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <h1 class="ion-text-center">{{place.title}}</h1>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="place.coments && place.coments.length >0 ; else noComments"><!--Si es mayor que 0 se muestra lo siguiente
        sino pinta el elemento con la etiqueta noComents-->
          <ion-item *ngFor="let comment of place.coments">
              {{comment}}
          </ion-item>
        </ion-list>
        <ng-template #noComments><!--Solo se muestra si el ion List, no tienen comentario o a sido pintado-->
          <ion-text>
            <p class="ion-text-center">No hay comentarios</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
