<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lugares"></ion-back-button><!---->
    </ion-buttons>
    <ion-title>Añadir un lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card><!--Un recuadro -->
          <ion-card-conteny>
            <ion-input type="text" placeholder="Escribe un titulo" #title></ion-input><!-- el # es una etiqueta por la que vamos a mostrar la información-->
            <ion-input type="text" placeholder="direccion de la imagen" #imageURL></ion-input>
            <ion-button color="primary" (click)="guardarDatos(title,imageURL)">Añadir información</ion-button><!--Le pasamos el valor de la etiqueta-->
          </ion-card-conteny>
          
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
