<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lugares"></ion-back-button><!---->
    </ion-buttons>
    <ion-title>
      Titulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title size="large">TITULO</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-text>HOLA MUNDO</ion-text>
  
  </div>
  <ion-list>
    <ion-card *ngFor="let foto of fotos">
        <img [src]="foto.thumbnailUrl">
        <ion-card-content>
          <p>
            {{foto.title}}
          </p>
          <p>{{foto.albumId}}</p>: <a [href]="foto.url" target="_blank">{{foto.url}}</a>
        </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
